<div class = "about-section">
    <h4>Adware</h4>
    <p>Making a Django based platform for digital billboard network</p>
    <p>The platform enables advertisers to geo-target large amount of customers and enabling billboard owners expand their reach with this platform.</p>
    <p>Skills Used – Django , JavaScript , HTML</p>
    <hr>
    <h4>Fusion</h4>
    <p>Contributed in an Enterprise Resource Planning Software for IIIT Jabalpur to be used by all faculties, staff and students.</p>
    <p>Worked on the academic module of the software which enables the students, academic persons to manage all the academic procedures.</p>
    <p>Skills Used – Django , JavaScript , HTML</p>
    <hr>
    <h4>Waste Food Management</h4>
    <p>A Web Portal for managing waste food which gets wasted in various parties daily.A Database Management Project.</p>
    <p>Skills Used – MySQL , HTML , PHP</p>
  </div>
